<nav class="sidebar">
  <ul>
    <li><a routerLink="/"><fa-icon [icon]="faStickyNote"></fa-icon> Notes</a></li>
    <li><a routerLink="/profile"><fa-icon [icon]="faUser"></fa-icon> Profile</a></li>
    <li><a routerLink="/trash"><fa-icon [icon]="faTrash"></fa-icon> Trash</a></li>
    <li><a routerLink="/settings"><fa-icon [icon]="faCog"></fa-icon> Settings</a></li>
  </ul>
  <ul class="bottom-links">
    <li><a routerLink="/help"><fa-icon [icon]="faQuestionCircle"></fa-icon> Help</a></li>
    <li><a routerLink="/logout"><fa-icon [icon]="faSignOutAlt"></fa-icon> Log Out</a></li>
  </ul>
</nav>